*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  body{
    font-family: 'Fira Code', monospace;
    background: #202020;
  }

  /* .spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner > div {
    background-color: #202020;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #9dd0cc;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
   }

   #spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;
}

   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   } */


  a {
    transition-duration: 1s;
  }

  /* Add styles for the target section */
  #target-section {
    margin-top: 400px; /* Add some space above the section */
    padding: 50px;
    background-color: #f0f0f0;
  }

  .highlight {
    color: #9dd0cc;
  }
  nav{
    background: transparent;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: #9dd0cc;
    font-size: 1rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

  nav ul{
    float: right;
    margin-right: 20px;
    background-color: #202020 !important;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #9dd0cc;
    font-size: 1rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    text-decoration: underline;
  }
  .checkbtn{
    font-size: 1rem;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  .btn-resume {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .btn-resume:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn-resume:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn-resume::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn-resume::after {
    background-color: #fff;
   }
   
   .btn-resume:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }

  @media (max-width: 952px){
    label.logo{
      font-size: 1rem;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 1rem;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: absolute;
      width: 100%;
      height: 500px;
      background: #202020;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 1;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 1rem;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

.intro {
  font-size: 4rem;
}
a {
  text-decoration: none;
  color: #9dd0cc;

}

section {
  height: 500px;
  width: 100%;
  color: white;
  display: flex;
  border: 1px solid red;
}

.intro-container {
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;  
  width: 30%;
  min-width: 300px;
}
.desc-container {
  display: flex;
  width: 55%;

}

.intro-img {
  width: 100%;
}

.about-me-para h1 {
  color: #9dd0cc;
}

.glow:hover {
  text-shadow: 0 0 10px #9dd0cc,
                0 0 20px #9dd0cc,
                0 0 40px #9dd0cc,
                0 0 80px #9dd0cc,
                0 0 120px #9dd0cc,
                0 0 160px #9dd0cc;
}


@media (max-width: 990px){
  .intro {
    font-size: 3rem;
  }
}

@media (max-width: 785px){
  .img-container {
    display: none;
  }
  .desc-container {
    width: 80%;
  }
  .intro {
    font-size: 2.5rem;
  }
}

/* ABOUT ME SECTION */
.about-me {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 250px;
}
.about-me-para {
  display: flex;
  flex-direction: column;
  width: 60%;

}

.about-me-para h1 {
  font-size: 2rem;
}

.about-me-img {
  display: flex;
  justify-content: center;
  width: 20%;
  border: 1px solid #9dd0cc;
  border-radius: 50px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(90,151,134);
  min-width: 300px;


}
.about-me-img img {
  width: 90%;
  height: 400px;
}


.para {
  line-height: 2rem;
}
.blob {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.tech i {
  color: #9dd0cc;
  font-size: 2rem;
  margin-right: 1em;
}

@media (max-width: 990px){
  .about-me {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }

  .about-me-img {
    margin-top: 50px;
  }

  .about-me-para {
    width: 90%;
  }


}
@media (max-width: 540px){
  .about-me {
    margin-top: 400px;
  }

  .about-me-para h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .about-me {
    margin-top: 500px;
  }
}

/* PROJECTS/ACHIEVEMENTS SECTION */

.projects {
  margin-top: 100px;
  justify-content: center;
  min-height: px;
  font-size: 2rem;
  color: #fff;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-size: 2rem;
  color: #9dd0cc;
}

.projects-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 70px;

}

.project-card {
  width: 20%;
  min-width: 150px;
}

.flip-card {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 20%;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}


/* This container is needed to position the front and back side */
.flip-card-inner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
  background-color: transparent;
  align-items: center;
  width: 100%;
  
  justify-content: center;
  border-radius: 20px;
}

.card-img {
  height: 70%;
}


/* Style the back side */
.flip-card-back {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: whitesmoke;
  transform: rotateY(180deg);
  border-radius: 20px;
  padding: 1em;
}

@media (max-width: 990px){
  .projects {
    margin-top: 500px;
  }
}

@media (max-width: 540px){
  .projects {
    margin-top: 500px;

  }

}

@media (max-width: 670px) {
  .projects {
    font-size: 1.5rem;
  }
  .project-card {
    width: 100px;
  }

  .project-title {
    font-size: 2rem;
  }

  .flip-card-back {
    font-size: .7rem;
  }
}


@media (max-width: 500px) {
  .projects {

    font-size: .9rem;
  }
    .project-card {
      height: 200px;
      margin: 1em;
    }
  .project-title{
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .project-card {
    height: 100px;
  }

  .flip-card-inner {
    width: 100px;
  }

}

/* CONTACT SECTION */

.contact {
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.contact-me {
  width: 300px;
  border-radius: 4px;
  background: #212121;
  display: flex;
  gap: 5px;
  padding: .4em;
}

.contact-me p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #212121;
  border: 1px solid #9dd0cc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.contact-me p:hover {
  flex: 4;
}

.contact-me p span {
  min-width: 14em;
  padding: 3em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #9dd0cc;
  letter-spacing: .1em;
  
}

.contact-me p:hover span {
  transform: rotate(0);
}


.contact-container h1 {
  font-size: 2rem;
  color: #9dd0cc;
}

@media (max-width: 500px) {
  .contact-container h1 {
    font-size: 1.5rem;
  } 
}

/* FOOTER */

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  color: #fff;
}

footer hr {
  margin: auto;
  margin-bottom: 2em;
  width: 80%;
}