body{
    background-color: #e9f5db;
    
}
h1{
    font-family: 'Open Sans';
}

h1.thick{
    font-family: 'Alfa Slab One';
    font-weight: bold;
    font-size: 50px;
}
h1.highlight{
    color: green;
    font-family: monospace, "Lucida Console", "Courier New";
}
.center {
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
  }


img{  
    width: 400px;
    border-radius:6%;
}
img.stack{
    width:  200px;
    height: 150px;
    margin-top: 30px;
}

div.stack{
    width: 600px;
    height: 100px;
    background-color: white;
    border-radius: 5%;
}

.wrap {
    
    display: flex;
    justify-content: center;
    width: 80%;  
}

.left, .right {
    padding: 2%; 
}

.circle {
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    transition: transform .2s; /* Animation */
  }
  
  .circle:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
