*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #F8F8F8;
}

footer {
    background-color: #143774;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr {
    margin-bottom: 1.5em;
}

.highlight {
    color: #1792D2;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 90%;
    min-width: 450px;
    margin: auto;
}

.container .col-1 {
    width: 65%;
    
}

.container .col-2 {
    width: 30%;

}

.main-container {
    display: flex;
    justify-content: space-between;
}

.recent-container .card {
    margin: 0;
}

.card {
    background-color: white;
    border: 15px solid #EBEBEB;
    padding: 1em;
    text-align: center;
}

header {
    background-color:#F8F8F8;
    margin-bottom: 2em;
    background-color: lightgray;
}

h1 {
    font-size: 3.375rem;
    color: #143774;
    margin-bottom: .2em;
}

h2 {
    color: #143774;
}

.title {
    width: 50%;

}

.title p {
    font-size: 1rem;
    font-weight: bold;
    color: #1792D2;
    margin-bottom: 1.5em;
}

.img-container {
    max-width: 100%;
 
}


.row img {
    width: 100%;
    height: auto;
  
    margin-bottom: 1em;
}

.row * {
    margin-bottom: 1em;
}

.items {
    display: flex;
    justify-content: space-between;
}

.items .img-container {
    width: 35%;
}

.items .items-content {
    width: 60%;
}




li {
    color: #707070;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;

}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
  }

@media (max-width: 790px) {
    .main-container {
        flex-direction: column;
    }

    .container .col-1 {
        margin-bottom: 2em;
        width: 100%;
    }
    
    .container .col-2 {
        width: 100%;
    }

    .container-nav {
        flex-direction: column;
        align-items: center;
    }

    .title {
        text-align: center;
        width: 100%;
    }

    nav ul {
  
        width: 100%;
        align-items: center;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    .items {
        flex-direction: column;
    }

    .items .img-container {
        width: 100%;
        order: 2;
    }
    
    .items .items-content {
        width: 100%;
        order: 1;
    }
}