*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RED rgba(229, 9, 20, 1) 
    GRAY rgba(45, 45, 45, 1);
*/

html {
    font-family: sans-serif;
}

body {
    background: #000;
    color: white;
}

/* HEADER START */
header {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent), 
    linear-gradient(to top, rgba(0,0,0,0.8), transparent),
    url("img/IT-en-20230403-popsignuptwoweeks-perspective_alpha_website_large.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: sans-serif;

   
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.logo-container img {
    width: 200px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

select, .btn {
    cursor: pointer;
}

select {
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 5px;
}

.btn {
    font-size: 1rem;
    color: white;
    background-color: rgba(229, 9, 20, 1);
    border: 1px solid red;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 1em;
}

.btn-start{
    font-size: 1.5rem;
}

.input-start {
    padding: 1.3em;
    width: 60%;
}

.form-container {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    margin-top: 160px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.desc h1 {
    font-weight: 800;
}

.desc h1, p, div {
    margin-bottom: 1rem;
}

/* HEADER END */

/* Main start */

/* main end */


